<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <%= @bookings.each do |b| %>
       <%= @b %>
      <%= end %>
    </div>

    <div class="col-xs-6">
      <%= @vehicles.each do |v| %>
      <%= @v %>
      <%= end %>
    </div>

  </div>
</div>
