<%= simple_form_for(@booking) do |f| %>
    <%= f.input :message %>
    <%= f.input :date_from, as: :date, html5: true, start_day: Date.today.day %>
    <%= f.input :date_to, as: :string, as: :date, html5: true, start_day: Date.today.day %>
    <%= f.button :submit, class: "btn-success" %>
  </div>
<% end %>
