<ul class="list-group">
   <% bookings.each do |booking| %>
  <li class="list-group-item">
    <%= cl_image_tag booking.user.photo.path, width: 30, height: 30, crop: :fill %>
    <%= booking.user.first_name %>
    <%= "From #{booking.date_from}" %>
    <%= "To #{booking.date_to}" %>
    <%= link_to "#{booking.status}", edit_booking_path(booking.id)%>
  </li>
  <% end %>
</ul>
