  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
       <%= render 'message', booking: @booking %>
       <% if current_user == @booking.vehicle.user %>
       <%= simple_form_for(@booking) do |f| %>
       <%= f.input :status, collection: %w(Accepted Declined) %>
       <%= f.button :submit, class: "btn-success" %>
       <% end %>
       <% elsif @booking.date_from <= Date.today %>
       <div class="row">
        <div class="col-xs-12 text-center">
          <%= button_to "Cancel", cancel_booking_path(@booking), class: "btn btn-danger", method: :patch %>
        </div>
      </div>
      <% end %>
    </li>
  </ul>

  <%= link_to "Back", dashboard_path, class: "btn btn-primary" %>
</div>
