<table class="table table-striped">
  <tbody>
    <tr>
      <td>Brand:</td>
      <td><%=  vehicle.brand %></td>
    </tr>
     <tr>
      <td>Model:</td>
      <td><%= vehicle.model %></td>
    </tr>
     <tr>
      <td>Engine (cc):</td>
      <td><%= vehicle.cc %></td>
    </tr>
     <tr>
      <td>Kms/day:</td>
      <td><%= vehicle.kms %></td>
    </tr>
    <tr>
      <td>Price/day in €:</td>
      <td><%= vehicle.price %></td>
    </tr>
  </tbody>
</table>
