<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h3>Technical Information</h3>
      <%= render 'table', vehicle: @vehicle %>
    </div>
    <div class="col-md-6 text-center">
      <% if @vehicle.photo? %>
        <%= render 'card', vehicle: @vehicle %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%  if @vehicle.user == current_user %>
      <%= link_to "Edit vehicle", edit_vehicle_path(@vehicle), class: "btn btn-success" %>
    <% else %>
       <%= link_to "Book", new_booking_path, class: "btn btn-success" %>
    <% end %>
    <%= link_to "Back to vehicles", vehicles_path, class: "btn btn-primary" %>
  </div>
</div>


