<div class="navbar-wagon">
  <!-- Logo -->

 <div class= "navbar-wagon-right">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
     <%= image_tag "logo-helmet.png" %>
   <% end %>
   <h1 class= "navbar-name">HELMETT</h1>

 </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Links -->
    <%= link_to "Rent My Vehicle", new_vehicle_path , class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- My Helmett dropdown -->

    <div class="dropdown show">
      <a class="dropdown show navbar-wagon-item navbar-wagon-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Helmett
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "My Bookings", dashboard_path(anchor: 'bookings'), class: "navbar-wagon-item navbar-wagon-link dropdown-item" %>
        <%= link_to "My Vehicles", dashboard_path(anchor: 'vehicles'), class: "navbar-wagon-item navbar-wagon-link dropdown-item" %>
        <%= link_to "My Requests", dashboard_path(anchor: 'requests'), class: "navbar-wagon-item navbar-wagon-link dropdown-item" %>
      </div>
    </div>

    <%= link_to "Log in", user_session_path , class: "navbar-wagon-item navbar-wagon-link" %>



    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_user && current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Edit Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to dashboard_path do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
           <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>

<!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
